*{
	margin: 0;
	padding: 0;
}
.nav{
	height: 67px;
	background-color: black;
}
.head{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.head_left{
	float: left;
	height: 67px;	
}
.head_left img{
	position: relative;
	top: 50%;
	margin-top: -33px;
}
.head_right{
	float: right;
	height: 67px;	
}
.img7{
	display: none;
}
.head_right_ul{
	list-style: none;
	height: 100%;
}
.head_right_ul li{
	display: inline-block;
	margin-left: 30px;
	height: 100%;
}
.head_right_ul li:nth-of-type(1){
	width: 65px;
}
.head_right_ul li:nth-of-type(2){
	width: 65px;
}
.head_right_ul li:nth-of-type(3){
	width: 94px;
}
.head_right_ul li:nth-of-type(4){
	width: 116px;
}
.head_right_ul li:nth-of-type(5){
	width: 47px;
}
.head_right_ul li:nth-of-type(6){
	width: 75px;
}
.head_right_ul li a{
	color: white;
	text-decoration: none;
	text-align: center;
	height: 29px;
	line-height: 29px;
	display: block;
	position: relative;
	top: 30%;
	color: gray;
}
.head_right_ul li:nth-of-type(4) a{
	color: white;
	border: 1px solid gray;
	border-radius: 10px;
}
.thisul{
	list-style: none;
	width: 200px;
	/*height: 130px;*/
	height: 0;
	background-color: yellowgreen;
	position: absolute;
	z-index: 100;
	right: 0px;
	top: 60px;
	/*display: none;*/
	overflow: hidden;
}
.thisul li{
	/*display: none;*/
	margin-top: 5px;
	text-align: center;
}
.thisul li a{
	text-decoration: none;
	border: 1px solid black;
	border-radius: 5px;
}
.center_head_a{
	height: 582px;
	background-color: black;
	display: block;
	text-align: center;
	position: relative;
	text-decoration: none;
}
.center_head_img1{
	width: 1127px;
}
.center_head_img2{
	position: absolute;
	left: 50%;
	margin-left: -38px;
	top: 50%;
	margin-top: -38px;
	width: 45px;
}
.center_head_div{
	position: absolute;
	height: 44px;
	background-color: black;
	opacity: 0.6;
	width: 100%;
	bottom: 0;
}
.center_head_div p{
	color: darkgray;
	line-height: 44px;
	font-size: 25px;
}
.center_body{
	width: 1127px;
	margin: 0 auto;
	height: 800px;
}
.center_body_div1{
	width: 350px;
	position: relative;
	margin-top: 20px;
	float: left;
	margin-left: 20px;
}
.center_body_div1_img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left: -10px;
}
.thisimg{
	width: 100%;
}
.center_body_div1 p{
	text-align: center;
	padding-top: 20px;
	color: darkgray;
}
.bottom{
	text-align: center;
	height: 128px;
}
.bottom_top{
	margin-top: 50px;
}
.bottom_top img{
	width: 25px;
	height: 18px;
}
.bottom_bottom{
	margin-top: 20px;
	list-style: none;
	margin-left: -5px;
}
.bottom_bottom li{
	display: inline-block;
	margin-left: 5px;
}
.bottom_bottom li img{
	margin-top: 8px;
}
.bottom p{
	margin-top: 30px;
	font-size: 10px;
}
@media only screen and (min-width: 100px) and (max-width: 1033px) {
	.head{
		width: 95%;
	}
	.head_right_ul{
		display: none;
	}
	.img7{
		display: block;
		width: 22px;
		height: 19px;
		margin-right: 20px;
		margin-top: 23px;
	}
}
@media only screen and (min-width: 100px) and (max-width: 1127px) {
	.center_head_img1{
		width: 100%;
	}
	.center_head_img2{
		width: 30px;
	}
	.center_head_a{
		height: 100%;
	}
	.center_body{
		width: 100%;
	}
	.center_body_div1{
		width: 30%;
		margin-left: 2.6%;
	}
	.center_body{
		height: 90%;
	}
	.center_head_div p{
		font-size: 20px;
	}
}
